<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   
    <p>
    Item details<br>
    --------------------------
    </p>
    <p>Name: <%= @item.name %></p>
    <p>price: <%= @item.price %></p>
    
    <p>
  </body>
</html>